PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=geomessenger
DB_USER=geomessenger_user
DB_PASSWORD=geomessenger_pass
JWT_SECRET=change_me

EXPO_PUBLIC_API_URL=http://192.168.0.10:4000
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_android_google_maps_api_key
